<%= bootstrap_form_for(@classroom) do |f| %>
    <div class="col-md-12">
      <%= f.collection_select :student, Student.all, :id, :name, class: "form-control", prompt: "Select a student" %>
      <%= f.collection_select :course, Course.all, :id, :name, class: "form-control", prompt: "Select a course" %>
    </div>
    <div class="col-md-1">
      <%= f.submit "Save", class: "btn btn-info" %>
    </div>
<% end %>