<%= bootstrap_form_for(@student) do |f| %>
    <div class="col-md-12">
      <%= f.text_field :name , wrapper_class: "col-md-3"%>
      <%= f.text_field :register_number , wrapper_class: "col-md-3"%>
    </div>
    <div class="col-md-1">
      <%= f.submit "Save" , class: "btn btn-info"%>
    </div>
<% end %>